.Bank {
    width:80%;
    margin:16px auto;
    border:1px solid gray;
    background-color:rgb(145, 122, 211);
    box-shadow:0 2px 3px black;
    padding:18px;
    height:1px;
    justify-content: center;
    
    }

